* {
  box-sizing:border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin:0;
}

.header {
  background-color:#1F2937;
}

.container {
  display:flex;
  justify-content:space-between;
  width:80vw;
  margin:auto;
  align-items:center;
  padding:15px 0;
}

.header-logo {
  font-size:24px;
  color:#F9FAF8;
  font-weight:bold;
}

.nav-links ul {
  padding:0;
  margin:0;
  list-style-type:none;
  display:flex;
  gap:16px;
}

.nav-links ul a {
  text-decoration:none;
  color:rgb(205, 199, 199);
  font-size:18px;
}

.hero {
  background-color:#1F2937;
  height:500px;
}

.hero .container {
  align-items:center;
  height:100%;
}

.first-child {
  flex-basis: 450px;
}

.first-child .hero-main-text{
  font-size:48px;
  color:#F9FAF8;
  font-weight:900;
}

.first-child .hero-secondary-text {
  font-size:18px;
  color:#E5E7EB;
  margin-bottom:10px;
}

.first-child .sign-up {
  background-color:#3882F6;
  color:white;
  padding:10px 35px;
  border:none;
  font-size:17px;
  font-weight:bold;
  border-radius:10px;
}

.second-child .hero-image-container {
  width:600px;
  border:1px solid black;
  height:250px;
  background-color:rgb(112, 118, 128);
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
}

.information-text {
  font-size:36px;
  color:#1F2937;
  font-weight:900;
  text-align:center;
  margin-top:40px;
  margin-bottom:60px;
}

.information-container {
  display:flex;
  gap:56px;
  justify-content:center;
}

.information-container .box-container {
  display:flex;
  flex-direction:column;
  align-items:center;
  width:200px;
}

.information-container .box {
  border:4px solid rgb(0, 136, 255);
  width:100%;
  height:190px;
  border-radius:20px;
  margin-bottom:10px;
}

.information-container .box-text {
  text-align:left;
  text-align-last:center;
  width:90%;
  font-size:20px;
  color:gray;
}